*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --bgcolor: #f1f5fd;
  --primary-color: #6f5de7;
  --text-color: #828286;
  --main-text-color: #333333;
}
html{
  font-size: 62.5%;
}
a{
  text-decoration: none;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6{
  color: #333333;
}

/* navbar-bg css */
.navbar-bg{
  background-color: var(--bgcolor);
  padding: 2rem 0;
  width: 40%;
  margin: 0 auto;
  z-index: 99;
  position: relative;
}

.container span{
  font-size: 2.5rem;
  margin-left: 0px;
}
.navbar li{
  padding: 0 2rem;
  
}

.navbar li a {
  font-size: 1.7rem;
  font-weight: lighter;
  position: relative;
}
.navbar li a:hover{
  color: var(--primary-color) !important;
  text-shadow: 0 0.2rem 0.3rem rgba(183, 171, 255, 0.5);
}

.icon{
  font-size: 20px;
}

@media (max-width:500px){
  .navbar-bg{
    width: 100%;
   
  }
  .container span{
    margin-right: 100px;
    position: relative;
  }
  .listItem{
    margin-left: 460px;
    position: absolute;
  }
}
/* @media (max-width:1300px) {
  .iconsb {
     display: block !important;
   }
} */
/* navbar End */


